.info-block {
  .label {
    padding: 0 10px 2px;
    color: #0d182f;
    margin: 0;
    font-size: 12px;
    font-weight: 300;
  }
  .content {
    padding: 8px;
    background: #fefefe;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    max-height: 100px;
    overflow: auto;
    &::-webkit-scrollbar {
      width: 8px;
      background-color: #dce8ea;
      border-radius: 4px;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 4px;
      background-color: #a0aabe;
    }
  }
}

.placeholder {
  margin: 10px;
  font-size: 12px;
  font-weight: 300;
  color: #0d182f;
  opacity: 0.9;
}

.country-badge {
  display: flex;
  align-items: center;
  justify-content: center;
  span {
    margin-left: 4px;
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
  }
}

.search-pannel {
  padding: 5px 12px;
  background: #f6f6f8;
  div {
    max-width: 300px;
  }
}
.centred-item {
  width: 100%;
  min-height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.drop-table {
  border: none;
  width: 100%;
  position: relative;
  overflow: auto;
  min-height: 290px;
  max-height: 290px;
  &::-webkit-scrollbar {
    height: 8px;
    width: 8px;
    background-color: #dce8ea;
    border-radius: 4px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #a0aabe;
  }
  .row {
    display: grid;
    &.columns-1 {
      grid-template-columns: 20px minmax(110px, 2.5fr);
    }
    &.columns-2 {
      grid-template-columns: 20px minmax(110px, 2.5fr) repeat(
          1,
          minmax(100px, 2fr)
        );
    }
    &.columns-3 {
      grid-template-columns: 20px minmax(110px, 2.5fr) repeat(
          2,
          minmax(100px, 2fr)
        );
    }
    &.columns-4 {
      grid-template-columns: 20px minmax(110px, 2.5fr) repeat(
          3,
          minmax(100px, 2fr)
        );
    }
    &.columns-5 {
      grid-template-columns: 20px minmax(110px, 2.5fr) repeat(
          4,
          minmax(100px, 2fr)
        );
    }
    &.columns-6 {
      grid-template-columns: 20px minmax(110px, 2.5fr) repeat(
          5,
          minmax(100px, 2fr)
        );
    }

    padding: 8px 0 8px 12px;
    min-width: min-content;
    border-bottom: 1px solid #a0aabe3d;
    & > .section {
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &:last-child {
      margin-bottom: -1px;
    }
    &.head {
      font-size: 12px;
      font-weight: 500;
      position: sticky;
      top: 0;
      background: #fff;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
      border-top: 1px solid #a0aabe3d;
      border-bottom: 1px solid #a0aabe3d;
      .section-controls {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
        .icon {
          position: relative;
          width: 10px;
          height: 10px;
          line-height: 0;
          color: #bac8e4;
          font-size: 12px;
          cursor: pointer;
          &.active {
            color: #0d182f;
          }
          &:hover {
            color: #0d182f;
          }
          &::before {
            position: absolute;
            bottom: -5px;
            left: 0;
            width: 100%;
            height: 100%;
          }
        }
      }
    }
    &.body {
      font-size: 12px;
      font-weight: 400;
      align-items: center;
      .section {
        display: flex;
        align-items: center;
        justify-content: center;
        &:nth-child(2) {
          font-weight: 500;
        }
      }
    }
  }
}
.item {
  height: 100%;
  display: flex;
  text-align: left;
  align-items: center;
  margin-left: 8px;
  flex: 1;
  & > img {
    margin-right: 10px;
  }
}
