.info-block {
  .label {
    padding: 0 10px 2px;
    color: #0d182f;
    margin: 0;
    font-size: 12px;
    font-weight: 300;
  }
  .content {
    background: #fefefe;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
}

.placeholder {
  margin: 10px;
  font-size: 12px;
  font-weight: 300;
  color: #0d182f;
  opacity: 0.9;
}

.country-badge {
  display: flex;
  align-items: center;
  justify-content: center;
  span {
    margin-left: 4px;
  }
}

.search-pannel {
  padding: 5px 12px;
  background: #f6f6f8;
  div {
    max-width: 300px;
  }
}
.scroll {
  overflow: auto;
  // min-height: calc(100% - 40px);
  min-height: 250px;
  max-height: 250px;
  &::-webkit-scrollbar {
    width: 8px;
    background-color: #dce8ea;
    border-radius: 4px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #a0aabe;
  }
}
.drop-table {
  border: none;
  width: 100%;
  .row {
    display: flex;
    padding: 8px 12px;
    border-bottom: 1px solid #a0aabe3d;
    & > .section {
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      &:nth-child(1),
      &:nth-child(2) {
        flex: 5;
      }
      flex: 4;
    }
    &:last-child {
      margin-bottom: -1px;
    }
    &.head {
      font-size: 12px;
      font-weight: 500;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
      border-top: 1px solid #a0aabe3d;
      border-bottom: 1px solid #a0aabe3d;
      .section-controls {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
        .icon {
          line-height: 0;
          color: #bac8e4;
          // height: 10px;
          font-size: 12px;
          cursor: pointer;
          &.active {
            color: #0d182f;
          }
          &:hover {
            color: #0d182f;
          }
          i {
            line-height: 0.7;
          }
        }
      }
    }
    &.body {
      font-size: 12px;
      font-weight: 400;
      .section {
        display: flex;
        align-items: center;
        justify-content: center;
        &:nth-child(2) {
          font-weight: 500;
          justify-content: flex-start;
        }
        .item {
          height: 100%;
          display: flex;
          align-items: center;
          margin-left: 15px;
        }
      }
    }
  }
}
