.drop-down-container {
  margin: 0 auto;
  width: 755px;
  min-height: 150px;
  max-height: 257px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  // border: 1px solid #a0aabe;
  background-color: #f6f6f8;
  font-family: "Roboto", sans-serif;
}

.drop-down-head {
  display: flex;
  align-items: center;
  height: 35px;
  margin: -1px;
  padding: 12px 15px 8px 15px;
  border: 1px solid #70707028;
  background: white;
  span {
    color: #0d182f;
    // font-family: "Proxima Nova";
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
  }
}

.drop-down-body {
  padding: 6px 15px;
}

.info-block {
  .label {
    padding: 0 6px 2px;
    color: #0d182f;
    margin: 0;
    font-size: 12px;
    font-weight: 300;
  }
  .content {
    background: #fefefe;
    display: flex;
    justify-content: flex-starte;
    flex-wrap: wrap;
  }
}

.selected-block {
  position: relative;
  .drop-down-list {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    // min-height: 100px;
  }
}
.drop-down-list {
  border-top: none;
  border-left: 1px solid #a0aabe3d;
  border-right: 1px solid #a0aabe3d;
  border-bottom: 1px solid #a0aabe3d;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  max-height: 330px;
}
.search-pannel {
  padding: 5px 15px;
  background: #f6f6f8;
}
.drop-table {
  border: none;
  width: 100%;
  .row {
    display: flex;
    justify-content: space-around;
    padding: 8px 20px;
    border-bottom: 1px solid #a0aabe3d;
    & > div {
      &:nth-child(1),
      &:nth-child(2) {
        flex: 4;
      }
      flex: 3;
    }
    &:last-child {
      border-bottom: none;
    }
  }
  .head {
    // width: 100%;
    font-size: 12px;
    font-weight: 500;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    border-top: 1px solid #a0aabe3d;
    border-bottom: 1px solid #a0aabe3d;
    div {
      text-align: center;
    }
  }
  .body {
  }
}
.input {
  position: relative;
  max-width: 300px;
  .icon {
    font-size: 16px;
    left: 10px;
    top: 6px;
    position: absolute;
  }
  input {
    transition: all 0.2s linear;
    background: #fefefe;
    width: 100%;
    border: 1px solid #bac8e400;
    background: inherit;
    font-family: inherit;
    height: 100%;
    background: #fefefe;
    border-radius: 5px;
    padding: 6px 6px 6px 32px;
    &::placeholder {
      color: rgba(0, 0, 0, 0.2);
    }
    &:hover {
      border: 1px solid #bac8e4;
      background: #eff2f8;
    }
    &:focus {
      border: 1px solid #5586ef;
      background-color: #eff2f8;
    }
  }
}

input {
  border: none;
}
*:hover,
*:focus {
  outline: none;
}

.controller {
  border: 1px solid #a0aabe00;
  margin: 10px 0 0 0;
  padding: 8px 12px;
  background: #fefefe;
  display: flex;
  justify-content: space-between;
  transition: border 0.2s linear;
  .label {
    font-size: 12px;
  }
  &.expanded {
    border: 1px solid #a0aabe3d;
    .icon {
      transform: rotate(-180deg);
    }
  }
  .icon {
    transition: transform 0.3s linear;
  }
  &:hover {
    border: 1px solid #a0aabe3d;
  }
}

.selected-item {
  font-size: 12px;
  font-weight: 400;
  margin: 5px;
  position: relative;
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 24px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05);
  border: 1px solid #c8d2e6;
  background-color: #ffffff;
  transition: all 0.3s linear;
  cursor: pointer;
  .flag {
    margin: 0 5px 0 0;
    transform: scale(1.3);
  }
  .btn {
    font-weight: 100;
    width: 10px;
    height: 10px;
    position: absolute;
    font-size: 14px;
    top: 3px;
    right: 8px;
    transition: all 0.2s linear;
    opacity: 0;
  }
  &:hover {
    background-color: #eceef2;
    .btn {
      opacity: 1;
    }
  }
}
