.message {
  margin: 10px;
  font-size: 12px;
}

.placeholder {
  margin: 0 5px;
  font-weight: 300;
  color: #0d182f;
  opacity: 0.9;
}

.warning {
  font-size: 14px;
  color: #ef5228;
  font-weight: 300;
  i {
    font-size: 1rem;
    margin-right: 5px;
  }
}
